.container {
   border: 2px solid black;
   /* display: flex; */
}

/* .container h1 {} */

#inputs {
   border: 1px solid red;
}

#add-button {
   border: 0;
   line-height: 2.5;
   padding: 0 20px;
   font-size: 1rem;
   text-align: center;
   color: #fff;
   text-shadow: 1px 1px 1px #000;
   border-radius: 10px;
   background-color: rgb(39, 40, 92);
   background-image: linear-gradient(to top left,
         rgba(0, 0, 0, .2),
         rgba(0, 0, 0, .2) 30%,
         rgba(0, 0, 0, 0));
   box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
      inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#add-button:hover {
   background-color: rgb(41, 39, 141);
}

#add-button:active {
   box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
      inset 2px 2px 3px rgba(0, 0, 0, .6);
}
#rm-button {
   border: 0;
   line-height: 2.5;
   padding: 0 20px;
   font-size: 1rem;
   text-align: center;
   color: #fff;
   text-shadow: 1px 1px 1px #000;
   border-radius: 10px;
   background-color: rgb(214, 21, 21);
   background-image: linear-gradient(to top left,
         rgba(0, 0, 0, .2),
         rgba(0, 0, 0, .2) 30%,
         rgba(0, 0, 0, 0));
   box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
      inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#rm-button:hover {
   background-color: rgb(245, 8, 40);
}

#rm-button:active {
   box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
      inset 2px 2px 3px rgba(0, 0, 0, .6);
}
#task-input {
   border-radius: 10px;
   height: 40px;
   width: 420px;
}

#task-input:focus {
   background-color: lightblue;
}

#items {}

.item{
   display: flex;
}